<strong>Olá, {{provider}}</strong>
<p>Seja bem-vindo ao Gympoint! Aqui estão dados do seu registro</p>
<p>
  <strong>Plano: </strong> {{plan_name}} <br/>
  <strong>Data do término: </strong> {{end_date}} <br/>
  <strong>Valor: </strong> {{price}} <br/>
  <strong>Mensagem: </strong> Seja bem-vindo! <br/>
  <br/>
  <small>
    Entre em contato para mais informações.
  </small>
</p>
